<div class="container">
        <div class="body">
                <div class="row">
                    <div class="col col-12 col-md-6 col-lg-3" *ngFor="let good of goods; index as i">
                        <div class="card">
                                    <img class="card-img-top" [src]="good.photoUrl" alt="Card image cap">
                                <div class="card-body">
                                      <h5 class="card-title">{{ good.name | titlecase }}</h5>
                                      <p class="card-text">{{ good.price | currency }}</p>
                                      <button class="btn btn-primary" (click)="addToCart(i)" *ngIf="add !== i">add to Card</button>
                                <div *ngIf="add === i">
                                        <input type="number" class="form-control" placeholder="amount Kg" #amount><br>
                                        <button (click)="buy(amount.value)" class="btn btn-warning btn-sm">Buy</button>
                        </div>
      <app-favorite></app-favorite>
                
                                </div>
                        </div>
                    </div>
                </div>
        </div>
</div>