<div class="container">
    <div class="row">
        <h3>List of all users</h3>
        <table class="table table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Adress</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>karim</td>
                <td>karim@gmail.com</td>
                <td>Kenitra Ville</td>
                <td>
                    <button type="button" title="show info"  class="btn btn-outline-info">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button type="button" title="Be admin" class="btn btn-outline-danger">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                    </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>ahmed</td>
                <td>ahmed@gmail.com</td>
                <td>Kenitra Ville</td>
                <td>
                    <button type="button" title="show info" class="btn btn-outline-info">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                    <button type="button" title="Be admin" class="btn btn-outline-danger">
                        <i class="fa fa-user-secret" aria-hidden="true"></i>
                    </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>moussa</td>
                <td>moussa@gmail.com</td>
                <td>rabat ville</td>
                <td>
                    <button type="button" title="show info"  class="btn btn-outline-info">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </button>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>